{% extends 'base.html' %}


{% block content %}
  <h1 class="m-5 text-center">Images</h1>
  {% if object_list %}
  <div class="infinite-container  container-fluid row">

          {% for list in object_list %}
          <div class="row infinite-item  col-md-4">
            <div class="moreimage_item gallery-item">
                <div class="image">
            <!-- <img src="{{img.file.url}}" alt="nature"> -->
                 <img src="{{list.file.url}}" alt="nature" width="491px" height="313px">
                </div>
                <div class="hover-text">
                  <h3>Title - {{list.title}}</h3>
                  <h5>Description - {{list.description}}</h5>
                  <h6>Created date - {{list.created_at}}</h6>
                  <a href="{% url 'images:details' list.id %}" style="pointer-events:initial !important;"
                    class="btn btn-success">Details</a>´
                  {% if request.user.is_authenticated %}
                  {% if request.user in list.is_saved.all%}
                  <a href="{% url 'images:image_unsave' list.id %}" class="btn btn-warning"
                    style="pointer-events:initial !important;">unsave
                    {{list.is_saved.all.count}}</a>
                  {% else %}
                  <a href="{% url 'images:image_save' list.id %}" class="btn btn-warning"
                    style="pointer-events:initial !important;">save
                    {{list.is_saved.all.count}}</a>
                  {% endif %}
                  {% endif %}
                </div>
          </div>
  </div>
   
    {% endfor %}  

  </div>
  {% else %}
    <p>There are no images in the library.</p>
  {% endif %}
  {% if page_obj.number < page_obj.paginator.num_pages %}
    <a class="infinite-more-link" href="?page={{ page_obj.number|add:1 }}"> More</a>
{% endif %}    

<div class="loading" style="display:none;">
<h1> Loading.......</h1>
</div>


<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',
        onBeforePageLoad: function (){
            $('.loading').show();
        },
        onAfterPageLoad: function () {
        $('.loading').hide();
      }
    }); 

</script>

{% endblock  %}