{% extends 'base.html' %}


{% block content %}
<div>
    <img src="{{ object.file.url}}" class="mx-auto  w-100" alt="note image">
    <h1 class="pb-5">{{object.title}}</h1>
    <p>{{object.description}}</p>
    <p>uploaded at {{object.created_at}} by {{object.user}} </p>
    <p>Last edited at {{object.updated_at}} by {{object.user}} </p>

    {% if request.user.is_authenticated %}
    <a href="{% url 'images:edit_image' object.id %}" class="btn btn-secondary m-4">Edit Post</a>
    <a href="{% url 'images:image_delete' object.id %}" class="btn btn-danger m-4">DELETE</a>
    {%endif%}
    <a href="{% url 'images:viewmore' %}" class="btn btn-danger m-4">Back</a>
</div>

{% endblock content %}