<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://picsum.photos/seed/picsum/1280/800"
        class="d-block w-100 carousel-img-overly"
        alt="..."
      />
      <div class="container  h-100 " >
        <div class="row h-100 align-items-center">
          <div class="col-12 col-lg-8 col-xl-6">
            <div class="welcome-text w-50">
              <h1
                data-animation="bounceInUp"
                data-delay="100ms"
                style="animation-delay: 100ms; opacity: 1"
                class="animate__animated animate__backInDown"
              >
                Hello <br />I'm Alime
              </h1>
              <p
                data-animation="bounceInUp"
                data-delay="500ms"
                style="animation-delay: 500ms; opacity: 1"
                class="animate__animated animate__lightSpeedInLeft"
              >
                I photograph very instinctively. I see how it is taken like
                that. I do not follow certain styles, philosophies or teachers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://picsum.photos/1280/800"
        class="d-block w-100 carousel-img-overly"
        alt="..."
      />
      <div class="container  h-100 " >
        <div class="row h-100 align-items-center">
          <div class="col-12 col-lg-8 col-xl-6">
            <div class="welcome-text w-50">
              <h1
                data-animation="bounceInUp"
                data-delay="100ms"
                style="animation-delay: 500ms; opacity: 1"
                class="animate__animated animate__lightSpeedInLeft"
              >
                Hello <br />I'm Alime
              </h1>
              <p
                data-animation="bounceInUp"
                data-delay="500ms"
                style="animation-delay: 500ms; opacity: 1"
                class="animate__animated animate__lightSpeedInRight"
              >
                I photograph very instinctively. I see how it is taken like
                that. I do not follow certain styles, philosophies or teachers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://picsum.photos/1280/800?grayscale"
        class="d-block w-100 carousel-img-overly"
        alt="..."
      />
      <div class="container  h-100 " >
        <div class="row h-100 align-items-center">
          <div class="col-12 col-lg-8 col-xl-6">
            <div class="welcome-text w-50">
              <h1
                data-animation="bounceInUp"
                data-delay="1000ms"
                style="animation-delay: 1000ms; opacity: 1"
                class="animate__animated animate__flipInX"
              >
                Hello <br />I'm Alime
              </h1>
              <p
                data-animation="bounceInUp"
                data-delay="500ms"
                style="animation-delay: 500ms; opacity: 1"
                class="animate__animated animate__lightSpeedInRight"
              >
                I photograph very instinctively. I see how it is taken like
                that. I do not follow certain styles, philosophies or teachers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
