<style>
  body {
    padding-top: 0px !important;
  }
</style>
{% load static %}
<div class="page-header-carouser masthead " data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-caption">
          <div class="col-12 text-center">
            <h1 class="text-white" style="cursor: default;">Photo Atelier</h1>
            <p class="lead text-white" style="cursor: default;">Welcome to the Photo Atelier … where art is more than
              just
              colors. </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>